<!--{$fsc->query}-->

{if="$fsc->get_errors()"}
<div class="alert alert-danger">
   <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
</div>
{/if}
{if="$fsc->get_messages()"}
<div class="alert alert-info">
   <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
</div>
{/if}

{if="$fsc->results"}
<div class="table-responsive">
   <table class="table table-responsive">
      <thead>
         <tr>
            <th class="text-left">Referencia + Descripción</th>
            <th class="text-right">PVP+{#FS_IVA#}</th>
            <th class="text-right">Stock Fisico</th>
            <th class="text-right">PVD+{#FS_IVA#}</th>
            <th class="text-right">Stock Virtual</th>
            <th class="text-right">Ganancia</th>
            <th class="text-right">Proveedor</th>
         </tr>
      </thead>
      {loop="$fsc->results"}
         {if="$value->sevende"}
         <!--
         {$funcion="add_articulo('".$value->referencia."','".$value->get_descripcion_64()."','".$value->pvp."','".$value->dtopor."','".$value->codimpuesto."','".$value->cantidad."')"}
         {if="$value->stockfis<=0 AND !$value->controlstock"}
         {$funcion="alert('Sin stock.')"}
         {elseif="$value->tipo"}
         {$funcion="add_articulo_".$value->tipo."('".$value->referencia."','".$value->get_descripcion_64()."','".$value->pvp."','".$value->dtopor."','".$value->codimpuesto."','".$value->cantidad."')"}
         {/if}
         -->
         
         <tr{if="$value->bloqueado"} class="bg-danger"{elseif="$value->stockfis<=0"} class="bg-warning"{else} class="bg-success"{/if}>
            <td>
               <a href="#" onclick="get_precios('{$value->referencia}')" title="más detalles"><span class="glyphicon glyphicon-eye-open"></span></a> &nbsp;
               <a href="#" onclick="{$funcion}">{$value->referencia}</a> {$value->descripcion}
               {$fsc->get_linea_mejor($value->referencia,$value->pvp,$value->get_iva())}
            </td>
            <td class="text-right">
               <span title="actualizado el {$value->factualizado}">
                  {$fsc->show_precio($value->pvp*(100 - $value->dtopor)/100*(100 + $value->get_iva())/100)}
               </span>
            </td>
            <td class="text-right">{$value->stockfis}</td>
            <td class="text-right">{$fsc->linea_mejor['pvd_iva']}</td>
            <td class="text-right">{$fsc->linea_mejor['stock']}</td>
            <td class="text-right">{$fsc->linea_mejor['porcentaje']}</td>
            <td class="text-right">{$fsc->nom_proveedor($fsc->linea_mejor['proveedor'])}</td>
         </tr>
         {/if}
      {/loop}
   </table>
</div>
{else}
<div class="alert alert-info">Sin resultados</div>
{/if}